.container {
	text-align: center;
}

.outer {
	display: inline-block;
}

div {
	padding: 10px;
}

marquee {
	font-size: 24px;
	font-family: "Comic Sans MS";
	animation: marquee 6s infinite;
}

#error {
	color: red;
}

.results {
	display: none;
}

@keyframes marquee {
	20% { color: red; }
	40% { color: yellow; }
	60% { color: green; }
	80% { color: blue; }
	100% { color: orange; }
}
